<div class="col-md-10 col-md-offset-1">
	<h2>Người dùng <a href="/users/new" class="btn btn-primary text-right btn-sm">Thêm người dùng</a></h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Họ và tên</th>
				<th>Email</th>
				<th>Ngày sinh</th>
				<th>Số điện thoại</th>
				<th>Địa chỉ</th>
				<th>Số CMND</th>
				<th>Số Giấy phép lái xe</th>
			</tr>
		</thead>
		<tbody>
			{{#each users}}
				<tr>
					<td>{{dataValues.id}}</td>
					<td>{{dataValues.full_name}}</td>
					<td>{{dataValues.email}}</td>
					<td>{{dataValues.dob}}</td>
					<td>{{dataValues.phone}}</td>
					<td>{{dataValues.address}}</td>
					<td>{{dataValues.identity_number}}</td>
					<td>{{dataValues.license_number}}</td>
					<td>
						<a href="/users/{{dataValues.id}}/detail" class="btn btn-success btn-sm">Xem</a>
						<a href="/users/{{dataValues.id}}/edit" class="btn btn-warning btn-sm">Sửa</a>
						<a href="/users/{{dataValues.id}}/delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?')">Xoá</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>