<div class="col-md-4 col-md-offset-2">
	<h2>Thông tin người dùng</h2>
	<p>
		<small>Họ và tên</small><br>
		<strong>{{full_name}}</strong><br>
	</p>
	<p>
		<small>Email</small><br>
		<strong>{{email}}</strong><br>
	</p>
	<p>
		<small>Ngày sinh</small><br>
		<strong>{{dob}}</strong><br>
	</p>
	<p>
		<small>SĐT</small><br>
		<strong>{{dob}}</strong><br>
	</p>
	<p>
		<small>Địa chỉ</small><br>
		<strong>{{dob}}</strong><br>
	</p>
	<p>
		<small>Số CMND</small><br>
		<strong>{{identity_number}}</strong><br>
	</p>
	<p>
		<small>Số giấy phép lái xe</small><br>
		<strong>{{license_number}}</strong>
	</p>
</div>
<div class="col-md-4">
	<img src="/{{photo}}" alt="{{first_name}} {{last_name}}" class="img-responsive">
</div>